html{
	min-height:100%;
	height:100%;
}

body
{
    margin-top:0px;
    min-height:100%;
    height:100%;
}

.row
{
    margin-bottom:10px;
}

.row div{
	/*background-color: #eee;*/
	padding: 0px;
	/*margin-bottom:10px;*/
}

.glass {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#1affffff');	
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .2)), color-stop(50%, rgba(255, 255, 255, .1)), color-stop(50%, rgba(0, 0, 0, .2)), to(rgba(255, 255, 255, .1)));			
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, .2) 50%, rgba(255, 255, 255, .1));					
}		
			
.glass-a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#1a000000');			
	background: -webkit-gradient(linear, 48% top, 52% bottom, from(rgba(255, 255, 255, .5)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(50%, rgba(0, 0, 0, .2)), to(rgba(255, 255, 255, .1)));
	background: -moz-linear-gradient(-80deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, .2) 50%, rgba(255, 255, 255, .1));		
}

.roundcorners 
{
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

.arrow_box {
	position: relative;
	background: #d1bb9d;
	border: 1px solid #4f3e21;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(209, 187, 157, 0);
	border-right-color: #d1bb9d;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}
.arrow_box:before {
	border-color: rgba(79, 62, 33, 0);
	border-right-color: #4f3e21;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}

#maingroup
{
	background: #000 url('../images/grass_texture_tile.jpg') repeat left top;
    margin-bottom:0px;
    min-height: 100%; /* ie6 ignores min-height completely */
   overflow: visible;
   border-left: solid 1px #999;
	border-right: solid 1px #999;
	border-top: solid 1px #999;
}

#main{
	background: transparent url('../images/grass_texture_glow.jpg') no-repeat center top;
	
	margin-top:-3px;
	min-height:350px;
	overflow: visible;
	clear:both;
	
}



/*--------------------
    Header 
  --------------------*/

#headergroup
{
    margin-bottom:0px;
    overflow: visible;
}

#header{
	height:100px;
	position:relative;
	overflow:hidden;
	border-bottom: solid 1px #999;
}

#header .layer{
	width:1300px;
	height:100px;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-580px;
}

.layer, #hga, #hgb{
	transition: background-position .5s linear;
	-o-transition: background-position .5s linear;
	-moz-transition: background-position .5s linear;
	-webkit-transition: background-position .5s linear;
}                                        

#header #stars{
	background: #000 url('../images/head_stars.png') no-repeat -50px 0px;
}


#header #grass{
	background: transparent url('../images/head_grass.png') no-repeat -50px 0px;
}

#header #logo{
	background: transparent url('../images/head_zeta.png') no-repeat -50px 0px;
}

#header #highgrass #hga{
	position:absolute;
	height:100px;
	width:40%;
	top:0px;
	left:0px;
	margin-left: -50px;
	background: transparent url('../images/head_highgrass_a.png') no-repeat -20px 0px;
	/*border:solid 1px #f00;*/
}

#header #highgrass #hgb{
	position:absolute;
	height:100px;
	width:40%;
	top:0px;
	right:0px;
	margin-right: 100px;
	background: transparent url('../images/head_highgrass_b.png') no-repeat -150px 0px;
	/*border:solid 1px #f00;*/
}

#header #btn_home
{
    display:block;
    position:absolute;
    bottom:20px;
    right:20px;
    background: #000;
    background: rgba(0,0,0,0.3);
    border:solid 2px #999;
    color:#fff;
}

#header #btn_home img{
	width:35px;
	height:35px;
}

#menu
{
    position:absolute;
    top:100px;
    left:50%;
    margin-left:254px;
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    z-index:500;
    padding:20px;
    border:solid 5px #999;
    display:none;
    transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
}

#menu ul
{
    margin:0px;
}

#menu li
{
    background: transparent none;
    border-bottom: solid 1px #666;
}

#menu li a
{
    display:block;
    width:140px;
    height:25px;
    color:#ccc;
    text-decoration:none;
    font-size:18px;
    font-weight:900;
    padding:3px 0px 0px 10px;
}
#menu li a:hover
{
    background: rgba(255,255,255,0.6);
    color:#333;
}

.arrow_box_black {
	background: #000;
	border: 5px solid #999;
	z-index:500;
}
.arrow_box_black:after, .arrow_box_black:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index:500;
}

.arrow_box_black:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #000;
	border-width: 16px;
	left: 50%;
	margin-left: 54px;
}
.arrow_box_black:before {
	border-color: rgba(153, 153, 153, 0);
	border-bottom-color: #999;
	border-width: 24px;
	left: 50%;
	margin-left: 46px;
	z-index:500;
}


/*--------------------
    Featured 
  --------------------*/

.royalSlider {
	height: 400px;
	position: relative;
	direction: ltr;
	margin-top:0px;
}

.row div.rsGCaption {
	width: 100%;
    float: left;
    text-align: left;
    color: #EEE;
    background-color: black;
    position: relative;
    opacity: 0.8;
}

.row div.rsGCaption figure
{
	font-weight:bold;
}

/*--------------------
    Portfolio
  --------------------*/

#portfoliogroup
{
    /*background-color:#333;*/
    background-color:rgba(242, 232, 213, 0.4);
    margin: 20px;
    min-height:250px;
}

#portfoliogroup h2
{
    padding: 10px 0px 0px 20px;
    color:#4f3e21;
    font-weight: bold;
}

#portfoliogroup #portfoliob
{
    list-style:none;
    margin:10px;
}

.taglist li
{
    float:left;
    margin:0px 0px 10px 20px;
    padding:2px 5px;
    background:#d1be9d none;
    color:#4f3e21;
    font-size:18px;
    display: block;
    height: 20px;
}

.taglist li.tag-0
{
    font-size:10px;
}

.taglist li.tag-1
{
    font-size:12px;
}

.taglist li.tag-2
{
    font-size:14px;
}
.taglist li.tag-3
{
    font-size:16px;
}

.taglist li.tag-4
{
    font-size:18px;
}
.taglist li.tag-5
{
    font-size:20px;
}
.taglist li.tag-6
{
    font-size:22px;
}

.taglist li a
{
    color:#333;
    text-decoration:none;
    font-weight:bold;
}


/*--------------------
    Featured Product
  --------------------*/

#featuredproduct
{
    display: block;
    background-position: center center;
    text-decoration:none;
}

#featuredproduct strong
{
    display: block;
    height: 20px;
    font-size: 25px;
    line-height: 16px;
    padding: 10px;
}

#featuredproduct span
{
    display: block;
    margin: 155px 0px 0px 0px;
    padding: 5px 20px;
    min-height: 45px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    opacity: 0.7;
}


/*--------------------
    Products
  --------------------*/

#productsgroup{
	margin: 0px 20px 20px 20px;
	/*background-color:#333;
	background-color:rgba(75, 75, 75, 0.4);*/
}

#productsgroup h2
{
    margin:5px 15px 0px 10px;
    padding: 10px 0px 0px 20px;
    color:#003;
    font-weight:bold;
}

#productsgroup a
{
	text-decoration:none;
}

#productsblock{
	overflow-y:hidden;
	overflow-x:scroll;
}

#productsb{
	list-style:none;
	width:1500px;
}

#productsb li{
	background:none;
	float:left;
	margin: 10px 20px;
	text-align:center;
	width:130px;
}

#productsb li a img
{
    height:96px;
    width:96px;
}


/*--------------------
    Tech
  --------------------*/

#techgroup{
	overflow:hidden;
	background-color:rgba(0, 0, 0, 0.8);
	height: 250px;
	margin: 0px 0px 20px 20px;
}

#techgroup h2
{
    margin:10px;
}


/*--------------------
    News
  --------------------*/

#newsgroup{
	overflow:hidden;
	background-color:rgba(0, 0, 0, 0.8);
	min-height:260px;
	margin-bottom:20px;
}

#newsgroup h2
{
    margin:10px;
}

#news{
	list-style:none;
	margin:0px;
}

#news li{
	background: none;
}

.newsSlider {
	position: relative;
	direction: ltr;
}

#news.rsDefault .rsOverflow, #news.rsDefault .rsSlide, #news.rsDefault .rsVideoFrameHolder, #news.rsDefault .rsThumbs {
 background: transparent none;
}

#news li{
	/*float:left;*/
	color:#fff;
	width:268px;
	height:201px;
}

#news li h4{
	/*float:left;*/
	margin:0px 10px 0px 0px;
	display:none;
}

#news li .fbposter{
	/*float:left;*/
	height: 50px;
	width: 50px;
	margin-right:5px;
	display:none;
}

#news li p{
	float:left;
	margin: 0px 0px 0px 0px;
	font-size:12px;
}

#news li .postlink{
	float:left;
}

#news li .postlink a{
	color: white;
	display: block;
	line-height: 15px;
	margin-bottom:3px;
	font-weight:bold;
	text-decoration: none;

	line-height: 16px;
	margin-top:15px;
}

#news li .postmessage{
	display: block;
	font-size:14px;
	line-height: 16px;
	clear:left;
	margin-top:5px;
	margin-left:15px;
	margin-right:15px;
}

#news li .postimg{
	margin: 15px 10px 0px 15px;
	height: 50px;
	width: 50px;
	float:left;
}


/*--------------------
    About
  --------------------*/

#aboutgroup{
	overflow:hidden;
	background-color:rgba(0, 0, 0, 0.8);
	min-height:260px;
	margin-bottom:20px;
}

#aboutgroup h2
{
    margin:10px;
}

#aboutgroup .col1{
	float:left;
	margin-left:20px;
}

#aboutgroup .col1 ul{
	list-style:disc;
	margin-left:20px;
}

#aboutgroup .col1 ul li{
	margin-bottom:0px;
}

#aboutgroup .col2{
	float:left;
	margin-left:20px;
	margin-bottom:10px;
	font-size:14px;
	font-weight:bold;
	text-align:right;
}

#aboutgroup .col2 ul li{
	background: transparent none;
}

#aboutgroup .col2 ul li.social a{
	height: 30px;
	width: 30px;
	text-decoration: none;
	display: block;
	float: right;
	margin: 5px 0px 0px 15px;
}


/*--------------------
    Listing
  --------------------*/
 
.listing h2
{
	display: block;
	float: left;
	margin: 10px 0px 10px 30px;
	padding: 2px 5px;
	background: #D1BE9D none;
	color: #4F3E21;
	font-size: 28px;
	display: block;
	height: 32px;
	font-weight: bold;
	border:solid 3px #4f3e21;
	border-left:none;
}

.listing h2.arrow_box:after {
	border-color: rgba(209, 187, 157, 0);
	border-right-color: #d1bb9d;
	border-width: 18px;
	top: 50%;
	margin-top: -18px;
}
.listing h2.arrow_box:before {
	border-color: rgba(79, 62, 33, 0);
	border-right-color: #4f3e21;
	border-width: 22px;
	top: 50%;
	margin-top: -22px;
}

#listing .project
{
    display:block;
    float:left;
    padding:5px;
    height: 100px;
    border: solid 1px #999;
    margin:0px 0px 10px 10px;
    background-color:rgba(0, 0, 0, 0.6);
    transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	font-size: 12px;
}

#listing .project:hover
{
    display:block;
    float:left;
    padding:5px;
    height: 100px;
    border: solid 1px #999;
    margin:0px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
	color: #000;
}

#listing a.project
{
    text-decoration:none;
}

#listing a.project img
{
    float:left;
    margin: 3px 10px 15px 3px;
}

#listing .project .title
{
    font-weight:bold;
    font-size: 14px;
    padding-bottom:10px;
    display:block;
}

#listing .project .view
{
    position:relative;
    bottom: 0px;
}


/*--------------------
    Profile
  --------------------*/
  
  #banner
  {
      height:150px;
      overflow:visible;
      background-position:center center;
  }
  
  #title
  {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0px 5px 30px;
    position: absolute;
    font-weight:bold;
  }
  
  #banner img
  {
      border: solid 10px #fff;
      background-color:#fff;
      float:right;
      margin: 40px 50px 0px 0px;
      position:relative;
      z-index:100;
  }
  
   #clientgroup{
   	margin-top:10px;
   	float:left;
   }
  
    #taggroup{
   	margin-top:-20px;
   	float:left;
   	clear:both;
   }
  
  #clientgroup h3, #taggroup h3
  {
      float:left;
      margin:0px 15px;
      font-size:18px;
      width:70px;
  }
  
  #descriptiongroup{
  	float: left;
	clear: both;
	margin: 0px 110px 20px 110px;
	font-size: 14px;
	line-height: 17px;
  }
  
  #socialgroup{
	clear: both;
	margin: -5px 110px 20px 110px;
	font-size: 14px;
	line-height: 17px;
	height: 20px;
  }
  
  #clientlink{
  	background: #000;
    background: rgba(0,0,0,0.3);
    border:solid 1px #999;
    color:#fff;
    padding: 5px 25px;
  }
  
  #clientgroup ul, #taggroup ul
  {
      float:left;
      clear:both;
      margin-left: 100px;
	  margin-top: -25px;
  }
  
