-- Script Date: 9/21/2012 3:10 PM  - Generated by ExportSqlCe version 3.5.2.15
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: GreenZeta.com\App_Data\Portfolio.sdf
-- ServerVersion: 4.0.8482.1
-- DatabaseSize: 131072
-- Created: 9/13/2012 5:22 PM

-- User Table information:
-- Number of tables: 5
-- EdmMetadata: 1 row(s)
-- Project: 5 row(s)
-- ProjectTag: 38 row(s)
-- ScreenShot: 22 row(s)
-- Tag: 33 row(s)

CREATE TABLE [Tag] (
  [TagID] int NOT NULL  IDENTITY (34,1)
, [name] nvarchar(4000) NULL
, [type] nvarchar(4000) NULL
);
GO
CREATE TABLE [Project] (
  [ProjectID] int NOT NULL  IDENTITY (6,1)
, [alias] nvarchar(4000) NULL
, [title] nvarchar(4000) NULL
, [caption] nvarchar(4000) NULL
, [description] nvarchar(4000) NULL
, [link] nvarchar(4000) NULL
, [icon] nvarchar(4000) NULL
, [banner] nvarchar(4000) NULL
, [launchDate] datetime NOT NULL
);
GO
CREATE TABLE [ScreenShot] (
  [ScreenShotID] int NOT NULL  IDENTITY (23,1)
, [url] nvarchar(4000) NULL
, [caption] nvarchar(4000) NULL
, [ProjectID] int NOT NULL
);
GO
CREATE TABLE [ProjectTag] (
  [ProjectTagID] int NOT NULL  IDENTITY (40,1)
, [ProjectID] int NOT NULL
, [TagID] int NOT NULL
);
GO
CREATE TABLE [EdmMetadata] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [ModelHash] nvarchar(4000) NULL
);
GO
SET IDENTITY_INSERT [Tag] ON;
GO
INSERT INTO [Tag] ([TagID],[name],[type]) VALUES (1,N'Click3X',N'client');
GO
INSERT INTO [Tag] ([TagID],[name],[type]) VALUES (2,N'Northrop Grumman',N'client');
GO
INSERT INTO [Tag] ([TagID],[name],[type]) VALUES (3,N'Facebook',N'medium');
GO
SET IDENTITY_INSERT [Tag] OFF;
GO
SET IDENTITY_INSERT [Project] ON;
GO
INSERT INTO [Project] ([ProjectID],[alias],[title],[caption],[description],[link],[icon],[banner],[launchDate]) VALUES (1,N'nrns',N'Arby''s Need a Reuben Now Syndrome',N'Custom facebook app built to promote Arby''s Reuben sandwich.',N'Custom facebook app built to promote Arby''s Reuben sandwich. Features a quiz, background coupon printing, and youtube video carousel.',N'http://www.facebook.com/arbys/app_379499542065071',N'nrns/nrns.jpg',N'nrns/nrns_banner.jpg',{ts '2012-02-10 00:00:00.000'});
GO
SET IDENTITY_INSERT [Project] OFF;
GO
SET IDENTITY_INSERT [ScreenShot] ON;
GO
INSERT INTO [ScreenShot] ([ScreenShotID],[url],[caption],[ProjectID]) VALUES (1,N'nrns/nrns1.jpg',N'Photo 1',1);
GO
INSERT INTO [ScreenShot] ([ScreenShotID],[url],[caption],[ProjectID]) VALUES (2,N'nrns/nrns2.jpg',N'Photo 2',1);
GO
INSERT INTO [ScreenShot] ([ScreenShotID],[url],[caption],[ProjectID]) VALUES (3,N'nrns/nrns3.jpg',N'Photo 3',1);
GO
SET IDENTITY_INSERT [ScreenShot] OFF;
GO
SET IDENTITY_INSERT [ProjectTag] ON;
GO
INSERT INTO [ProjectTag] ([ProjectTagID],[ProjectID],[TagID]) VALUES (1,1,1);
GO
INSERT INTO [ProjectTag] ([ProjectTagID],[ProjectID],[TagID]) VALUES (2,1,3);
GO
INSERT INTO [ProjectTag] ([ProjectTagID],[ProjectID],[TagID]) VALUES (3,2,1);
GO
SET IDENTITY_INSERT [ProjectTag] OFF;
GO
SET IDENTITY_INSERT [EdmMetadata] ON;
GO
INSERT INTO [EdmMetadata] ([Id],[ModelHash]) VALUES (1,N'BDC23AFADE06ED6DCC0FD8D7B4DE71AB8B08DC1B75E2A3DB7D7440C0ADA995F7');
GO
SET IDENTITY_INSERT [EdmMetadata] OFF;
GO
ALTER TABLE [Tag] ADD CONSTRAINT [PK__Tag__000000000000002C] PRIMARY KEY ([TagID]);
GO
ALTER TABLE [Project] ADD CONSTRAINT [PK__Project__0000000000000014] PRIMARY KEY ([ProjectID]);
GO
ALTER TABLE [ScreenShot] ADD CONSTRAINT [PK__ScreenShot__000000000000003A] PRIMARY KEY ([ScreenShotID]);
GO
ALTER TABLE [ProjectTag] ADD CONSTRAINT [PK__ProjectTag__0000000000000020] PRIMARY KEY ([ProjectTagID]);
GO
ALTER TABLE [EdmMetadata] ADD CONSTRAINT [PK__EdmMetadata__0000000000000044] PRIMARY KEY ([Id]);
GO
ALTER TABLE [ScreenShot] ADD CONSTRAINT [ScreenShot_Project] FOREIGN KEY ([ProjectID]) REFERENCES [Project]([ProjectID]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [ProjectTag] ADD CONSTRAINT [ProjectTag_Project] FOREIGN KEY ([ProjectID]) REFERENCES [Project]([ProjectID]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO
ALTER TABLE [ProjectTag] ADD CONSTRAINT [Tag_ProjectTags] FOREIGN KEY ([TagID]) REFERENCES [Tag]([TagID]) ON DELETE CASCADE ON UPDATE NO ACTION;
GO

