@model GreenZeta.com.ViewModels.HomeIndexData
@{
    ViewBag.Title = "GreenZeta";
    ViewBag.Icon = "";
    ViewBag.Description = "";
    ViewBag.BodyClass = "index";
    Layout = "~/Views/Shared/_LayoutGZ.cshtml";
}

<div class="row">
	<div id="featured" class="grid_12 royalSlider rsDefault">
    @foreach (var item in Model.featuredProjects.OrderByDescending(s => s.launchDate))
    {
        <div>
			<a href="/home/profile/@item.alias"><img src="/images/portfolio/@item.banner" class="max-img rsImg" alt="This is caption text one" /></a>
			<figure class="rsCaption">@item.title</figure>
		</div>
    }
	</div>
</div>
<div class="row">
	<div class="grid_6">
        <a id="portfolio" name="portfolio"></a>
        <div id="portfoliogroup" class="glass-a roundcorners">
		<h2>Portfolio</h2>
        <ul id="portfoliob" class="taglist">
        @foreach (var group in Model.tagCloud.SelectMany(p => p.ProjectTags).GroupBy(c => c.Tag))
        {
            if (group.FirstOrDefault().Tag.type == "medium")
            {
            <li class="tag-@(group.Count() / 3) arrow_box">@Html.ActionLink(group.FirstOrDefault().Tag.name, "Listing", new { id = group.FirstOrDefault().Tag.name })</li>
            }
        }
        </ul>
        <div style="clear:both;"></div>
        </div>
	</div>
	<div class="grid_6">
        <div>
            <a id="featuredproduct" href="/home/profile/@Model.featuredProduct.FirstOrDefault().alias" style="background-image:url('/images/portfolio/@Model.featuredProduct.FirstOrDefault().banner');">
                <strong></strong>
                <span>Featured Product : @Model.featuredProduct.FirstOrDefault().title</span>
            </a>
         </div>
	</div>
</div>
<div class="row">
	<div class="grid_12">
        <a id="products" name="products"></a>
        <div id="productsgroup" class="glass-a roundcorners">
		    <a href="/Home/Listing/Product"><h2>Products</h2></a>
		    <div id="productsblock" class="scroll-pane horizontal-only">
		    <ul id="productsb">
            @foreach (var item in Model.Products.OrderByDescending(s => s.launchDate))
            {
                <li>
                    <a href="/home/profile/@item.alias"><img src="/images/portfolio/@item.icon" /><br />@item.title</a>
                </li>
            }
            </ul>
            </div>
        </div>
	</div>
</div>
<div class="row base">
	<div class="grid_4">
        <a name="news"></a>
        <div id="newsgroup" class="glass roundcorners">
		<h2>News</h2>
		<ul id="news" class="newsSlider rsDefault">
		</ul>
        </div>
	</div>
	<div class="grid_8">
        <a id="about" name="about"></a>
        <div id="aboutgroup" class="glass roundcorners">
        <h2>About</h2>
        	<div class="col1">
	        	<p>GreenZeta is the portfolio of internet software developer Matthew Wilber.</p>
	            <ul>
	                <li>Server side applications with PHP or ASP.Net</li>
	                <li>Client side applications with HTML5 and AJAX</li>
	                <li>Web page design &amp; programming</li>
	                <li>Serach Engine Optomized HTML</li>
	                <li>facebook apps</li>
	                <li>WordPress templates</li>
	            </ul>
	    	</div>
	    	<div class="col2">
	            <ul>
	                <li><a href="mailto:info@greenzeta.com">info@greenzeta.com</a></li>
	                <li class="social">
	                	<a href="https://plus.google.com/117175183804932889480/about" target="_blank">
	                		<img src="/images/gplus.png"/>
	                	</a>
	                	<a href="http://www.facebook.com/greenzeta" target="_blank">
	                		<img src="/images/facebook.png"/>
	                	</a>
	                	<a href="http://www.linkedin.com/in/mwilber" target="_blank">
	                		<img src="/images/linkedin.png"/>
	                	</a>
	                </li>
	            </ul>
	    	</div>
	    	<div class="github">
            	This website is built with ASP.net 4 and MVC3. View the source on 
            		<a href="https://github.com/mwilber/GreenZeta.com" target="_blank">GitHub <img src="/images/github_64.png" width="32" height="32"/></a>
            	</a>
            </div>
        </div>
    </div>
</div>