@model GreenZeta.com.ViewModels.HomeListingData
@{
    ViewBag.Title = "GreenZeta Listing : " + Model.tag;
    ViewBag.Icon = "";
    ViewBag.Description = "";
    ViewBag.BodyClass = "listing";
    Layout = "~/Views/Shared/_LayoutGZ.cshtml";
}

<a id="btn_home" href="/">Home</a>
<h2>Listing : @Model.tag</h2>

@foreach (var item in Model.projects) {
    
    <div class="project">
        <a href="/home/profile/@item.alias">
        <img src="/images/portfolio/@item.icon" width="64" height="64" />
        @Html.DisplayFor(modelItem => item.title)
        <br />
        @Html.DisplayFor(modelItem => item.caption)
        <br />
        View
        </a>
    </div>

}
