@model GreenZeta.com.ViewModels.HomeListingData
@{
    ViewBag.Title = "GreenZeta Listing : " + Model.tag;
    ViewBag.Icon = "";
    ViewBag.Description = "";
    ViewBag.BodyClass = "listing";
    Layout = "~/Views/Shared/_LayoutGZ.cshtml";
}
<div class="row">
	<div class="grid_12">
        <h2 class="tag-0 arrow_box">@Model.tag</h2>
	</div>
</div>


<div class="row">
    <div id="listing" class="grid_12">
    @foreach (var item in Model.projects) {
        @*<div class="project">*@
        <a class="project glass roundcorners" href="/home/profile/@item.alias">
            <img src="/images/portfolio/@item.icon" width="64" height="64" />
            <span class="title">@Html.DisplayFor(modelItem => item.title)</span>
            @Html.DisplayFor(modelItem => item.caption)
        </a>
        @*</div>*@
    }
    </div>
</div>